@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: danaMedium;
        src: url("/public/assets/font/Dana-Medium.woff") format(woff);
    }
    @font-face {
        font-family: danaBold;
        src: url('/public/assets/font/Dana-Bold.woff') format(woff);
    }
    @font-face {
        font-family: danaBlack;
        src: url('/public/assets/font/Dana-Black.woff') format(woff);
    }
    body{
        @apply m-0 py-0 px-3 box-border text-base text-font-default font-danaMedium font-semibold bg-black;
    }
}


@layer components{
    .btn-primary{
        @apply flex items-center justify-center bg-font-100 w-[130px] h-12 rounded-lg text-back font-extrabold text-xl ease-out duration-300 hover:bg-white;
    }
}
